@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  @apply font-sans;
  font-family: 'Montserrat', sans-serif;
  /* Custom Pagination Style */
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 200px; /* Space between the slides and pagination */
}

/* Pagination dots style */
.swiper-pagination-bullet {
  background-color: #003459; /* Customize the color of the dots */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px; /* Space between dots */
  transition: background-color 0.3s ease;
}

/* Active dot style */
.swiper-pagination-bullet-active {
  background-color: #316377;
}

/* Optional: Add hover effect for dots */
.swiper-pagination-bullet:hover {
  background-color: #316377;
}

}
